<!-- <nb-layout windowMode>
  <nb-layout-header fixed>
    <client-header [title]="pageTitle$ | async"></client-header>
  </nb-layout-header>

  <nb-layout-column class="column-container">
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed style="height: 80px; margin-top: 10px;">
    <client-main-menu></client-main-menu>
  </nb-layout-footer>
</nb-layout> -->

<router-outlet></router-outlet>
