<div *ngIf="posts$ | async as posts; else loading">
  <div *ngIf="posts.length; else noItems">
    <nb-tabset>
      <nb-tab
        *ngFor="let type of postTypes"
        tabTitle="{{ 'EVENTS_AND_NEWS.' + type.label | translate }}"
      >
        <section>
          <div class="row">
            <client-app-post-card
              *ngFor="let post of posts | filter_pipe: type.value"
              [post]="post"
              class="col-md-4 m-b-md"
              (click)="openDialog(post)"
            >
            </client-app-post-card>
          </div>
        </section>
      </nb-tab>
    </nb-tabset>
  </div>
</div>

<ng-template #noItems>
  <client-page-no_content></client-page-no_content>
</ng-template>
<ng-template #loading>
  <client-page-loading></client-page-loading>
</ng-template>
