<!-- <p>{{token.isValid()}}
</p> -->

<button
  nbButton
  outline
  shape="round"
  status=""
  [nbContextMenu]="items"
  nbContextMenuTrigger="hover"
>
  <nb-icon icon="person-outline"></nb-icon>
</button>
<client-peer-initialize></client-peer-initialize>

<!-- <button *ngIf="isLoggedIn();" outline nbButton [nbContextMenu]="items" nbContextMenuTrigger="hover">
  Show Menu
</button> -->
<!-- <span class="form-inline">
  <div class="icon">
    <a [routerLink]="['/auth/logout']">
      <nb-icon icon="log-out-outline" [options]="{ animation: { type: 'zoom' } }" nbTooltip="Log Out"
        nbTooltipPlacement="right" nbTooltipStatus="warning">
      </nb-icon>
    </a>
  </div>
</span> -->
