<!--begin::Aside-->
<div class="container footer">
  <div class="row">
    <div class="col-md-12">
      <p>
        Use <i>demo_a@desic.io</i> as email address and <i>desic2021</i> as
        password.
      </p>
      <p>
        <a href="https://desic.io" target="_blank">{{ _name }}</a> -
        {{ _version }}
      </p>
      <p [innerHTML]="_text"></p>
    </div>
  </div>
</div>
<!--end::Aside-->
