<nb-layout windowMode>
  <nb-layout-header fixed>
    <admin-header [title]="pageTitle$ | async"></admin-header>
  </nb-layout-header>

  <nb-sidebar responsive="true">
    <admin-main-menu></admin-main-menu>
    <!-- <nb-menu [items]="items" autoCollapse="true"> </nb-menu> -->
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>

  <nb-layout-footer fixed> </nb-layout-footer>
</nb-layout>
