@import 'nebular/themes';
@import 'vars/index';

.dialog-actions {
  margin: 0;
}

.form-group {
  nb-select {
    padding: 0;
  }
}

.button-back {
  cursor: pointer;
}

.form-inline {
  label {
    margin: auto inherit auto inherit;
    justify-content: start;
  }

  nb-select {
    padding: 0;
  }
}

// .icon {
//   position: absolute;
//   right: 0;
//   height: 30px;
//   margin-right: 50px;
// }

// .page-header {
//   border-style: solid;
//   border-color: $col-purple;
// }

// .form {
//   &-group {
//     .preview {
//       position: relative;

//       &-image {
//         width: 200px;
//       }

//       &-cancel {
//         position: absolute;
//         top: -20px;
//         right: -20px;
//       }
//     }
//   }
// }

//     &-child {
//       margin: 15px;
//     }

//     nb-radio {
//       display: inline;
//     }

//     label,
//     .text-danger {
//       margin: auto 10px auto 10px;
//     }

//     button {
//       margin-top: auto;
//       margin-bottom: auto;
//     }

//     input,
//     textarea,
//     button,
//     nb-radio-group,
//     nb-select {
//       margin-right: 15px;
//     }
//   }

//   &-actions {
//     .button-save,
//     .button-delete {
//       display: block;
//       width: 25%;
//       margin: 10px 0px 10px auto;
//       color: white;
//     }

//     .button-save {
//       background-color: rgb(0, 128, 0);

//       &:hover {
//         background-color: rgb(0, 128, 0, 0.5);
//       }
//     }

//     .button-delete {
//       background-color: rgb(255, 0, 0);

//       &:hover {
//         background-color: rgb(255, 0, 0, 0.5);
//       }
//     }
//   }
// }

// .dialog {
//   &-title,
//   &-content {
//     text-align: center;
//     margin: 0 auto;
//   }

//   &-actions {
//     text-align: center;
//     margin: 0 auto;

//     .button-dismiss,
//     .button-close,
//     .button-save,
//     .button-delete {
//       margin: 10px;
//       color: white;
//     }

//     .button-dismiss {
//       background-color: rgb(255, 165, 0);

//       &:hover {
//         background-color: rgb(255, 165, 0, 0.5);
//       }
//     }

//     .button-close {
//       background-color: rgb(165, 42, 42);

//       &:hover {
//         background-color: rgb(165, 42, 42, 0.5);
//       }
//     }

//     .button-save {
//       background-color: green;

//       &:hover {
//         background-color: rgb(0, 128, 0, 0.5);
//       }
//     }

//     .button-delete {
//       background-color: red;

//       &:hover {
//         background-color: rgb(255, 0, 0, 0.5);
//       }
//     }
//   }
// }
