<div *ngIf="patching; else loading">
  <nb-card>
    <nb-card-header>
      <h6 *ngIf="post">Update Post</h6>
      <h6 *ngIf="!post">Create a new Post</h6>
    </nb-card-header>
    <nb-card-body class="container">
      <form [formGroup]="postForm" class="form">
        <h5>Basic Info</h5>

        <div class="row">
          <div class="col-md-6">
            <!--begin::Form Group "Title"-->
            <div class="form-group">
              <label for="title">Title</label>
              <input
                id="title"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Title"
                formControlName="title"
              />
              <span
                *ngIf="isControlHasError('where', 'required')"
                class="error text-danger"
                >Title is required</span
              >
            </div>
            <!--end::Form Group "Title"-->
          </div>
          <div class="col-md-6">
            <!--begin::Form Group "Type"-->
            <div class="form-group">
              <label for="type">Type</label>
              <nb-radio-group id="type" fullWidth formControlName="type">
                <nb-radio
                  *ngFor="let option of postTypes"
                  [value]="option.value"
                >
                  {{ option.label }}
                </nb-radio>
              </nb-radio-group>
            </div>
            <!--end::Form Group "Type"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-image-upload
                *ngIf="patching"
                [parentForm]="postForm"
                previousURL="{{ initialImage }}"
              >
              </app-image-upload>
            </div>
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-12">
            <!--begin::Form Group "Description"-->
            <div class="form-group">
              <app-content-images
                (finalize)="onFinalStep($event)"
                [formGroup]="postForm"
                parentService="postContentImage"
              >
              </app-content-images>
            </div>
            <!--end::Form Group "Description"-->
          </div>
        </div>
        <!-- <label class="col-md-2">Image</label>
        <button type="button" class="col-md-4 offset-md-1 mr-md-2 mb-2" nbButton fullWidth (click)="fileInput.click()">
          Upload Image
        </button>
        <input id="image" nbInput type="file" class="form-control-file" hidden (change)="showPreview($event)"
          accept=".png, .jpg, .jpeg" #fileInput />

        <div class="col-md-2 col-xs-12" class="preview" *ngIf="imageURL && imageURL !== ''">
          <img class="preview-image" [src]="imageURL" />
          <div *ngIf="imageURL != previousURL" class="preview-cancel">
            <nb-icon icon="close-circle-outline" [options]="{ animation: { type: 'zoom' } }" (click)="cancelImage()">
            </nb-icon>
          </div>
        </div>
        <span *ngIf="isControlHasError('image_url', 'required')" class="error text-danger">
          Image file is required
        </span> -->

        <div *ngIf="postForm.controls.type.value === 'event'">
          <hr />
          <h5>When & Where</h5>
          <div class="form-group form-inline">
            <label class="col-md-2" for="date">Date</label>
            <input
              id="date"
              class="form-control col-md-4 offset-md-1 mr-md-2"
              nbInput
              fullWidth
              placeholder="Pick Date"
              [nbDatepicker]="formpicker"
              formControlName="whenDate"
            />
            <nb-datepicker #formpicker></nb-datepicker>
            <span
              *ngIf="isControlHasError('whenDate', 'required')"
              class="error text-danger"
              >Event's Date is required</span
            >
          </div>

          <div class="form-group form-inline">
            <label class="col-md-2" for="time">Time</label>
            <input
              id="time"
              class="form-control col-md-4 offset-md-1 mr-md-2"
              nbInput
              fullWidth
              [nbTimepicker]="timepicker"
              formControlName="whenTime"
            />
            <nb-timepicker #timepicker></nb-timepicker>
            <!-- <span *ngIf="isControlHasError('whenTime', 'required')" class="error text-danger">Event's Time is
              required</span> -->
          </div>
          <!-- <div class="form-group form-inline">
            <label class="col-md-2" for="time">Time</label>
            <input id="time" class="form-control col-md-4 offset-md-1 mr-md-2" nbInput fullWidth
              placeholder="Time (24hr format)" aria-label="24hr format" [ngxTimepicker]="whenTime" [format]="24"
              formControlName="whenTime" />
            <ngx-material-timepicker #whenTime></ngx-material-timepicker>
            <span *ngIf="isControlHasError('whenTime', 'required')" class="error text-danger">Event's Time is
              required</span>
          </div> -->
          <div class="form-group form-inline">
            <label class="col-md-2" for="where">Where</label>
            <input
              class="form-control col-md-4 offset-md-1 mr-md-2"
              type="text"
              nbInput
              fullWidth
              placeholder="Where"
              formControlName="where"
            />
            <span
              *ngIf="isControlHasError('where', 'required')"
              class="error text-danger"
              >Event's Location is required</span
            >
          </div>
        </div>

        <hr />
        <div class="form-actions">
          <button
            type="button"
            class="button-save col-md-3 offset-md-9 mb-2"
            nbButton
            fullWidth
            outline
            status="success"
            (click)="onFormSubmit()"
            (keyup.enter)="onFormSubmit()"
          >
            Save
          </button>
          <button
            type="button"
            *ngIf="post"
            class="button-delete col-md-3 offset-md-9"
            nbButton
            fullWidth
            outline
            status="danger"
            (click)="onClickDelete()"
          >
            Delete
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>

<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>

<!-- <ng-template class="dialog" #confirm_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">Pick post's name</nb-card-header>
    <nb-card-body class="dialog-content">
      <input type="text" nbInput fullWidth placeholder="Post's Slug" [(ngModel)]="data.slug" />
    </nb-card-body>
    <nb-card-footer class="dialog-actions">
      <button nbButton class="dialog-button button-dismiss" (click)="ref.close(false)">
        Cancel
      </button>
      <button nbButton class="dialog-button button-save" (click)="ref.close(data.slug)" [disabled]="!data.slug">
        Save
      </button>
    </nb-card-footer>
  </nb-card>
</ng-template> -->

<ng-template class="dialog" #delete_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title"
      >Are you sure you want to delete Post {{ data.slug }}?</nb-card-header
    >
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-dismiss mb-2"
          nbButton
          fullWidth
          outline
          status="warning"
          (click)="ref.close(false)"
        >
          Cancel
        </button>
      </div>
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-delete"
          nbButton
          fullWidth
          outline
          status="danger"
          (click)="ref.close(true)"
        >
          Delete
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">{{ data.title }}</nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container justify-content-center row">
      <div class="col-md-5">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
