<div *ngIf="sessions$ | async as sessions; else loading">
  <div *ngIf="sessions.length; else noItems">
    <nb-card size="small">
      <nb-card-header>
        <nb-select
          class="col-md-3 offset-md-9"
          placeholder="Select Beneficiary"
          (selectedChange)="setSelectedUser($event)"
        >
          <nb-option value="0">All</nb-option>
          <nb-option *ngFor="let user of users$ | async" value="{{ user.id }}">
            {{ user.name }}</nb-option
          >
        </nb-select>
      </nb-card-header>
      <nb-card-body>
        <nb-list class="items-list">
          <nb-list-item *ngFor="let session of sessions | filter_pipe: userID">
            <div class="col-md-10 items-card">
              <nb-user
                size="medium"
                [name]="session.title"
                [title]="session.beneficiary.name"
                [showInitials]="false"
                (click)="onClickPreview(session)"
              >
              </nb-user>
            </div>
            <div class="col-md-2">
              <nb-actions [size]="small">
                <nb-action
                  class="items-list-action"
                  icon="edit-outline"
                  iconStatus="warning"
                  (click)="onClickEdit(session)"
                  nbTooltip="Edit"
                  nbTooltipPlacement="top"
                  nbTooltipStatus="warning"
                >
                </nb-action>
                <!-- <nb-action class="items-list-action" icon="archive-outline" status="info"
                  (click)="onClickExportToPDF(session)" nbTooltip="Export to PDF (available soon)"
                  nbTooltipPlacement="top" nbTooltipStatus="info"></nb-action> -->
              </nb-actions>
            </div>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #noItems>
  <admin-page-no_content type="Session"></admin-page-no_content>
</ng-template>
<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>

<!-- <nb-card *ngFor="let session of sessions$ | async">
  <nb-card-header>
    {{ session.title}}
    <a [routerLink]="['/sessions/preview/' + session.id]">
      <nb-icon nbTooltip="Preview Session" icon="edit-outline"></nb-icon>
    </a>
  </nb-card-header>
</nb-card> -->

<!-- <ul>
  <li *ngFor="let group of groups$ | async">
    {{ group.title[0].content }}
    (<a [routerLink]="['/groups/edit/' + group.id]">edit</a>)
    <ul>
      <li *ngFor="let course of group.courses">
        {{course.title[0].content}}
        (<a [routerLink]="['/courses/edit/' + course.id]">edit</a>)
      </li>
    </ul>
  </li>
</ul> -->
