<div *ngIf="patching; else loading">
  <nb-card *ngIf="patching">
    <nb-card-header>
      <h6>Update Access Rights</h6>
    </nb-card-header>
    <nb-card-body class="container">
      <form [formGroup]="accessForm" class="form">
        <div
          formArrayName="access"
          *ngFor="let item of access.controls; let i = index"
          class="container justify-content-start"
        >
          <hr />

          <div [formGroupName]="i" class="form-group">
            <div class="row">
              <div class="col-md-9">
                <nb-user
                  shape="semi-round"
                  size="large"
                  color="#cccccc"
                  name="{{ item.controls.name.value }}"
                  title="{{
                    item.controls.accessAction.value | access_pipe: 'action'
                  }} in {{
                    item.controls.category.value | access_pipe: 'category'
                  }}"
                  badgeText=""
                  badgeStatus="success"
                  badgePosition="bottom end"
                  badgeStatus="warning"
                >
                </nb-user>
              </div>
              <div class="col-md-3">
                <nb-select
                  class="form-control"
                  fullWidth
                  placeholder="Select Category"
                  formControlName="accessStatus"
                >
                  <nb-option
                    *ngFor="let status of filterStatuses(i)"
                    value="{{ status.value }}"
                  >
                    {{ status.name }}</nb-option
                  >
                </nb-select>
              </div>
            </div>

            <!-- <div class="col-md-5">
              <p>{{item.controls.name.value}}</p>
            </div>
            <div class="col-md-4">
            </div> -->
          </div>
        </div>

        <hr />
        <div class="form-actions">
          <button
            type="button"
            class="button-save col-md-3 offset-md-9"
            nbButton
            fullWidth
            outline
            status="success"
            (click)="onFormSubmit()"
            (keyup.enter)="onFormSubmit()"
          >
            Update
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>

<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>

<ng-template class="dialog" #confirm_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">
      Are you sure you want to update access rights?
    </nb-card-header>
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-dismiss"
          nbButton
          fullWidth
          outline
          status="warning"
          (click)="ref.close(false)"
        >
          Cancel
        </button>
      </div>
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-save"
          nbButton
          fullWidth
          outline
          status="success"
          (click)="ref.close(true)"
        >
          Update
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>

<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">
      {{ data.title }}
    </nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
