@import 'nebular/themes';
@import 'vars/index';

::ng-deep .content_align-ltr {
  text-align: left;
}

::ng-deep .content_align-rtl {
  text-align: right;
}

.where_when {
  display: inline-block;
}

::ng-deep .editor-content {
  .image-style-side {
    float: right;
    margin-left: var(--ck-image-style-spacing);
    max-width: 50%;
  }

  .image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    min-width: 50px;
  }

  img {
    vertical-align: middle;
    border-style: none;
  }

  .image > figcaption {
    margin: auto;
    width: 100%;
    text-align: center;
    color: #333;
    background-color: #f7f7f7;
    padding: 0.6em;
    font-size: 0.75em;
    outline-offset: -1px;
  }

  table {
    margin: 1em auto;
    display: table;
    margin: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 99%;
    height: 100%;
    border: 1px double #b3b3b3;
  }
}

::ng-deep .content_direction-ltr {
  text-align: left;

  blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: 5px solid #ccc;

    p {
      font-style: italic;
      margin-left: 5px;
    }
  }
}

::ng-deep .content_direction-rtl {
  text-align: right;

  blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-right: 5px solid #ccc;

    p {
      font-style: italic;
      margin-right: 5px;
    }
  }
}

.post-dialog {
  width: 100vw !important;
  height: 100vh !important;
  background-color: $col-grey-light;
  display: block !important;
  position: absolute;
  overflow: scroll;
  top: 0;
  left: 0;

  .post-container {
    margin: 0 5rem 0 5rem;

    .post-content {
      width: 100% !important;
      height: 100% !important;

      nb-card {
        background-color: $col-grey-light;

        nb-card-header {
          position: relative;

          nb-badge {
            text-transform: capitalize;
          }

          .image {
            height: 400px;
            background-size: cover;
          }

          .exit_icon-ltr {
            cursor: pointer;
            position: fixed;
            //position: absolute;
            font-size: 2rem;
            width: 2em;
            right: 0;
            top: 0;
          }

          .exit_icon-rtl {
            cursor: pointer;
            position: fixed;
            //  position: absolute;
            font-size: 2rem;
            width: 2em;
            left: 0;
            top: 0;
          }
        }

        nb-card-body {
          padding: 0;
          flex: 0;
          max-width: 100%;

          figure {
            background-color: red;
          }
        }

        nb-card-footer {
          border-color: transparent;
          padding: 0;
        }
      }
    }
  }
}

:host ::ng-deep {
  nb-card-header {
    padding: 0;
    border-color: transparent;

    .typo-card-type {
      line-height: 14px !important;
    }
  }
}
