// Add an elispsis to a text area
// after a given number of line
.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.small-circle {
  &:before {
    content: ' \25CF';
    font-size: 20px;
    margin-right: 10px;
  }

  &.circle-psycho {
    &:before {
      color: $col-psycho;
    }
  }
}

.inline-vertical-centered {
  display: inline-flex;
  align-items: centered;
}
