<div *ngIf="patching; else loading">
  <div *ngIf="userID">
    <nb-icon
      icon="arrow-back-outline"
      [options]="{ animation: { type: 'zoom' } }"
      (click)="onClickBack(userID)"
    >
    </nb-icon>
  </div>

  <nb-card>
    <nb-card-header>
      <h6 *ngIf="userID">Update Member</h6>
      <h6 *ngIf="!userID">Invite Member</h6>
    </nb-card-header>

    <nb-card-body class="container">
      <form [formGroup]="userForm" class="form">
        <div class="row">
          <div class="col-md-6">
            <!--begin:Form Group "Name"-->
            <div class="form-group">
              <label for="name">Fullname</label>
              <input
                type="text"
                id="name"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Fullname"
                formControlName="name"
              />
              <span
                *ngIf="isControlHasError('name', 'required')"
                class="error text-danger"
                >Name is required</span
              >
            </div>
            <!--end:Form Group "Name"-->
          </div>
          <div class="col-md-6">
            <!--begin:Form Group "Email"-->
            <div class="form-group">
              <label for="email">Email</label>
              <input
                type="email"
                id="email"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Email"
                formControlName="email"
              />
              <span
                *ngIf="isControlHasError('email', 'required')"
                class="error text-danger"
                >Email is required</span
              >
              <span
                *ngIf="isControlHasError('email', 'email')"
                class="error text-danger"
                >Has to be an email
              </span>
            </div>
            <!--end:Form Group "Email"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-8">
            <!--begin:Form Group "Street"-->
            <div class="form-group">
              <label for="street">Street</label>
              <input
                type="text"
                id="street"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Street"
                formControlName="street"
              />
              <span
                *ngIf="isControlHasError('street', 'required')"
                class="error text-danger"
                >Street is required</span
              >
            </div>
            <!--end:Form Group "Street"-->
          </div>
          <div class="col-md-4">
            <!--begin:Form Group "Postcode"-->
            <div class="form-group">
              <label for="postcode">Postcode</label>
              <input
                type="text"
                id="postcode"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Postcode"
                formControlName="postcode"
              />
              <span
                *ngIf="isControlHasError('postcode', 'required')"
                class="error text-danger"
                >Postcode is required</span
              >
            </div>
            <!--end:Form Group "Postcode"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin:Form Group "City"-->
            <div class="form-group">
              <label for="city">City</label>
              <input
                type="text"
                id="city"
                class="form-control"
                nbInput
                fullWidth
                placeholder="City"
                formControlName="city"
              />
              <span
                *ngIf="isControlHasError('city', 'required')"
                class="error text-danger"
                >City is required</span
              >
            </div>
            <!--end:Form Group "City"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin:Form Group "Phone"-->
            <div class="form-group">
              <label for="phone">Phone</label>
              <input
                type="text"
                id="phone"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Phone"
                formControlName="phone"
              />
              <span
                *ngIf="isControlHasError('phone', 'required')"
                class="error text-danger"
                >Phone is required</span
              >
            </div>
            <!--end:Form Group "Phone"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin:Form Group "FalimyStatus"-->
            <div class="form-group">
              <label for="marital">Marital Status</label>
              <nb-select
                id="marital"
                class="form-control"
                fullWidth
                placeholder="Select Marital Status"
                formControlName="maritalStatus"
              >
                <nb-option
                  *ngFor="let marital of maritalList"
                  value="{{ marital.value }}"
                >
                  {{ marital.title }}</nb-option
                >
              </nb-select>
              <span
                *ngIf="isControlHasError('maritalStatus', 'required')"
                class="error text-danger"
                >Marital Status is required</span
              >
            </div>

            <!-- <div class="form-group">
              <label for="marital">Marital Status</label>
              <input type="text" id="marital" class="form-control" nbInput fullWidth placeholder="Marital Status"
                formControlName="maritalStatus" />
              <span *ngIf="isControlHasError('maritalStatus', 'required')" class="error text-danger">Marital Status is
                required</span>
            </div> -->
            <!--end:Form Group "FalimyStatus"-->
          </div>
          <div class="col-md-6">
            <!--begin::Form Group "EmploymentStatus"-->
            <div class="form-group">
              <label for="employment">Employment Status</label>
              <nb-select
                id="employment"
                class="form-control"
                fullWidth
                placeholder="Select Employment Status"
                formControlName="employmentStatus"
              >
                <nb-option
                  *ngFor="let employment of employmentList"
                  value="{{ employment.value }}"
                >
                  {{ employment.title }}</nb-option
                >
              </nb-select>
              <span
                *ngIf="isControlHasError('employmentStatus', 'required')"
                class="error text-danger"
                >Employment Status is required</span
              >
            </div>

            <!-- <div class="form-group">
              <label for="employment">Employment Status</label>
              <input type="text" id="employment" class="form-control" nbInput fullWidth placeholder="Employment Status"
                formControlName="employmentStatus" />
              <span *ngIf="isControlHasError('employmentStatus', 'required')" class="error text-danger">Employment
                Status is required</span>
            </div> -->
            <!--end::Form Group "EmploymentStatus"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin::Form Group "DateOfBirth"-->
            <div class="form-group">
              <label for="date">Date of Birth</label>
              <input
                id="date"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Pick Date"
                [nbDatepicker]="formpicker"
                formControlName="dateOfBirth"
              />
              <nb-datepicker #formpicker></nb-datepicker>
              <span
                *ngIf="isControlHasError('dateOfBirth', 'required')"
                class="error text-danger"
                >Date of Birth is required</span
              >
            </div>
            <!--end::Form Group "DateOfBirth"-->
          </div>
        </div>

        <hr />

        <div class="form-actions">
          <button
            type="button"
            class="button-invite col-md-3 offset-md-9"
            nbButton
            fullWidth
            outline
            status="success"
            (click)="onFormSubmit()"
            (keyup.enter)="onFormSubmit()"
          >
            <span *ngIf="userID">Update</span>
            <span *ngIf="!userID">Invite</span>
          </button>
        </div>
      </form>
    </nb-card-body>
  </nb-card>
</div>

<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>

<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">{{ data.title }}</nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
