// @import '../../app.component.scss';

// .form-label {
//   margin-top: 30px;

//   &-child {
//     margin-right: 10px;
//     text-align: center;
//   }
// }

// .dialog-actions,
// .form-actions {
//   button {
//     margin: 5px 0px;
//   }
// }
