<div
  *ngIf="desicConnections$ | async as desicConnections; else loading"
  class="connection-page"
>
  <div *ngIf="desicConnections.length; else noItems">
    <nb-card size="large" class="connection-list">
      <nb-list class="users-list">
        <nb-list-item
          *ngFor="let connection of desicConnections"
          [style.backgroundColor]="getColor(connection.id)"
          (click)="openMessages(connection)"
          class="users-list-item"
        >
          <nb-user
            shape="semi-round"
            size="large"
            color="#cccccc"
            name="{{ connection.receiver.name }}"
            title="{{ connection.receiver.category | user_pipe: 'category' }}"
            badgeText="{{ getUnreadMessages(connection.id) }}"
            badgeStatus="warning"
            badgePosition="bottom end"
            badgeStatus="warning"
          >
          </nb-user>
        </nb-list-item>
      </nb-list>
    </nb-card>

    <div
      *ngIf="peer && desicConnection && desicConnection.id"
      class="connection-chat"
    >
      <admin-peer-connection
        [connectionId]="desicConnection.id"
      ></admin-peer-connection>
    </div>
  </div>
</div>

<ng-template #noItems>
  <admin-page-no_content type="Connection"></admin-page-no_content>
</ng-template>
<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>
