@import '../../../app.component.scss';

::ng-deep .connection-create {
  position: fixed;
  bottom: 100px;
  // width:30%;
}

::ng-deep .connection-list {
  position: fixed;
  // width: 20%;
  // height: 80%;
  // padding: 1m;
}

::ng-deep .connection-chat {
  position: fixed;
  width: 50vw;
  // width: 60%;
  height: 80%;
  right: 10vw;
  // padding: 1m;
}

.users-list {
  // padding-left: 50px;
  width: 100%;

  &-item:hover {
    cursor: pointer;
  }
}
