<div
  *ngIf="desicConnections$ | async as desicConnections; else loading"
  class="connection-page"
>
  <div *ngIf="desicConnections.length; else noItems">
    <nb-card size="large" class="connection-list">
      <nb-card-body>
        <nb-list class="users-list">
          <nb-list-item
            *ngFor="let connection of desicConnections"
            [style.backgroundColor]="getColor(connection.id)"
            (click)="openMessages(connection)"
            class="users-list-item"
          >
            <nb-user
              shape="semi-round"
              size="large"
              color="#cccccc"
              name="{{ connection.receiver.name }}"
              title="{{ connection.receiver | user_pipe: 'both' }}"
              badgeText="{{ getUnreadMessages(connection.id) }}"
              badgeStatus="warning"
              badgePosition="bottom end"
              badgeStatus="warning"
            >
            </nb-user>
          </nb-list-item>
        </nb-list>
      </nb-card-body>
      <nb-card-footer>
        <client-create-connection
          class="connection-create"
        ></client-create-connection>
      </nb-card-footer>
    </nb-card>

    <div
      *ngIf="peer && desicConnection && desicConnection.id"
      class="connection-chat"
    >
      <client-peer-connection
        [connectionId]="desicConnection.id"
      ></client-peer-connection>
    </div>
  </div>
</div>

<ng-template #noItems>
  <client-page-no_content type="Connection"></client-page-no_content>
</ng-template>
<ng-template #loading>
  <client-page-loading></client-page-loading>
</ng-template>

<!-- <div class="row">
  <div class="col-md-4" *ngIf="desicConnections">
    <nb-card *ngFor="let connection of desicConnections; let i = index">
      <nb-card-header [style.color]="getColor(connection.id)" (click)="openMessages(connection)">
        ({{ connection.id }}) - {{ connection.receiver.name }}
        <div *ngIf="getUnreadMessages(connection.id)>0">
          <nb-badge text="{{getUnreadMessages(connection.id)}}" status="warning">
          </nb-badge>
        </div>
      </nb-card-header>
    </nb-card>
  </div> -->

<!-- <div class="row"> -->

<!-- <nb-card *ngFor="let connection of desicConnections" class="connections-list">
          <nb-card-header [style.backgroundColor]="getColor(connection.id)" (click)="openMessages(connection)">

            <nb-user shape="semi-round" size="large" color="#cccccc" name="{{connection.receiver.name}}"
              title="{{connection.receiver.category | user_pipe:'category'}}"
              badgeText="{{getUnreadMessages(connection.id)}}" badgeStatus="warning" badgePosition="bottom end"
              badgeStatus="warning">
            </nb-user> -->

<!-- ({{ connection.id }}) - {{ connection.receiver.name }}
            <div *ngIf="getUnreadMessages(connection.id)>0">
              <nb-badge text="{{getUnreadMessages(connection.id)}}" status="warning">
              </nb-badge>
            </div> -->
<!-- </nb-card-header>
        </nb-card> -->
