<!-- <div class="center">
  <h5>
    Desic Statistics
    <br />
    coming soon ...
  </h5>
</div> -->

<div *ngIf="patching; else loading">
  <nb-card>
    <nb-card-header>
      <h6>Registrations By Month</h6>
    </nb-card-header>
    <nb-card-body>
      <div class="bar_chart">
        <canvas
          baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType"
        >
        </canvas>
      </div>
    </nb-card-body>
  </nb-card>
</div>

<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>
