.typo-card-type {
  color: $col-purple !important;
  font-size: $font-size-medium !important;
  text-transform: uppercase;
  font-family: $font-family-raleway !important;
  font-weight: $font-weight-bold !important;
}

.typo-card-title {
  color: $col-black !important;
  font-size: $font-size-big !important;
  font-family: $font-family-raleway !important;
  font-weight: $font-weight-bold !important;
}

.typo-tab-title {
  font-size: $font-size-medium !important;
  font-family: $font-family-raleway !important;
  font-weight: $font-weight-bold !important;
}

.typo-list {
  font-family: $font-family-opensans !important;
  font-size: $font-size-medium !important;
  color: $col-grey-light !important;
  //color: $col-black !important;

  &.bold {
    font-weight: $font-weight-bold !important;
  }
}

.typo-list-dim {
  font-family: $font-family-opensans !important;
  font-size: $font-size-medium !important;
  color: $col-grey;
}

.text-center {
  text-align: center;
}
