<nb-chat
  [title]="getConnectionTitle(conn.open)"
  [status]="getConnectionStatus(conn.open)"
>
  <nb-chat-message
    *ngFor="let msg of returnMessages()"
    [type]="msg.type"
    [message]="msg.text"
    [reply]="msg.reply"
    [sender]="msg.user.name"
    [date]="msg.date"
    dateFormat="shortTime"
    [files]="msg.files"
    [quote]="msg.quote"
    [latitude]="msg.latitude"
    [longitude]="msg.longitude"
    [avatar]="msg.user.avatar"
  >
  </nb-chat-message>

  <nb-chat-form (send)="onFormSubmit($event)" [dropFiles]="false">
  </nb-chat-form>
</nb-chat>
