// Font weight
$font-weight-light: 300;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Font sizes
// https://type-scale.com/ 1.3333
$font-size-big: 25px;
$font-size-medium: 18px;
$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-smallest: 10px;

// Font family
$font-family-raleway: 'Raleway', sans-serif; // For title
$font-family-opensans: 'Open Sans', sans-serif; //  For smaller text
