<div *ngIf="patching; else loading">
  <div *ngIf="sessionID">
    <nb-icon
      icon="arrow-back-outline"
      [options]="{ animation: { type: 'zoom' } }"
      (click)="onClickBack(sessionID)"
    >
    </nb-icon>
  </div>

  <!--begin::Card-->
  <nb-card>
    <!--begin::Card Header-->
    <nb-card-header>
      <h6 *ngIf="sessionID">Update Session</h6>
      <h6 *ngIf="!sessionID">Create Session</h6>
    </nb-card-header>
    <!--end::Card Header-->

    <!--begin::Card Body-->
    <nb-card-body class="container">
      <!--begin::Form-->
      <form [formGroup]="sessionForm" class="form">
        <br />
        <div class="row">
          <div class="col-md-6 offset-md-6">
            <!--begin::Form Group "Beneficiary"-->
            <div class="form-group">
              <label for="beneficiaryId">Beneficiary</label>
              <nb-select
                id="beneficiaryId"
                class="form-control"
                fullWidth
                placeholder="Select Beneficiary"
                formControlName="beneficiaryId"
              >
                <nb-option
                  *ngFor="let user of users$ | async"
                  value="{{ user.id }}"
                >
                  {{ user.name }}</nb-option
                >
              </nb-select>
              <span
                *ngIf="isControlHasError('beneficiaryId', 'required')"
                class="error text-danger"
                >Session's User is required</span
              >
            </div>
            <!--end::Form Group "Beneficiary"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin::Form Group "Title"-->
            <div class="form-group">
              <label for="title">Title</label>
              <input
                id="title"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Title"
                formControlName="title"
              />
            </div>
            <!--end::Form Group "Title"-->
          </div>
          <div class="col-md-6">
            <!--begin::Form Group "Keywords"-->
            <div class="form-group">
              <label for="keywords">Keywords</label>
              <input
                id="keywords"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Insert basic Keywords (separated with comma)"
                formControlName="keywords"
              />
            </div>
            <!--end::Form Group "Keywords"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-6">
            <!--begin::Form Group "Category"-->
            <div class="form-group">
              <label for="category">Category</label>
              <nb-select
                id="category"
                class="form-control"
                fullWidth
                placeholder="Select Category"
                formControlName="category"
              >
                <nb-option
                  *ngFor="let category of categories$ | async"
                  value="{{ category.name }}"
                >
                  {{ category.name }}</nb-option
                >
              </nb-select>
              <span
                *ngIf="isControlHasError('category', 'required')"
                class="error text-danger"
                >Session's Category is required</span
              >
            </div>
            <!--end::Form Group "Category"-->
          </div>
          <div class="col-md-6">
            <!--begin::Form Group "Date"-->
            <div class="form-group">
              <label for="date">Date</label>
              <input
                id="date"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Pick Date"
                [nbDatepicker]="formpicker"
                formControlName="sessionDate"
              />
              <nb-datepicker #formpicker></nb-datepicker>
            </div>
            <!--end::Form Group "Date"-->
          </div>
        </div>

        <br />

        <div class="row">
          <div class="col-md-12">
            <!--begin::Form Group "Description"-->
            <div class="form-group">
              <label for="description">Description</label>
              <textarea
                id="description"
                rows="10"
                class="form-control"
                nbInput
                fullWidth
                placeholder="Description"
                formControlName="description"
              >
              </textarea>
            </div>
            <!--end::Form Group "Description"-->
          </div>
        </div>

        <hr />

        <!--begin::Form Actions-->
        <div class="form-actions">
          <button
            type="button"
            class="button-save col-md-3 offset-md-9 mb-2"
            nbButton
            fullWidth
            outline
            status="success"
            (click)="onFormSubmit()"
            (keyup.enter)="onFormSubmit()"
          >
            Save
          </button>
        </div>
        <!--end::Form Actions-->
      </form>
      <!--end::Form-->
    </nb-card-body>
    <!--end::Card Body-->
  </nb-card>
  <!--end::Card-->
</div>

<ng-template #loading>
  <admin-page-loading></admin-page-loading>
</ng-template>

<!--begin::Delete Dialog-->
<ng-template class="dialog" #delete_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title"
      >Are you sure you want to delete Course {{ data.slug }}?</nb-card-header
    >
    <nb-card-footer class="dialog-actions container row">
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-dismiss mb-2"
          nbButton
          fullWidth
          outline
          status="warning"
          (click)="ref.close(false)"
        >
          Cancel
        </button>
      </div>
      <div class="col-md">
        <button
          type="button"
          class="dialog-button button-delete"
          nbButton
          fullWidth
          outline
          status="danger"
          (click)="ref.close(true)"
        >
          Delete
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!--end::Delete Dialog-->

<!--begin::Response Dialog-->
<ng-template class="dialog" #response_dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header class="dialog-title">{{ data.title }}</nb-card-header>
    <nb-card-body class="dialog-content">
      {{ data.message }}
    </nb-card-body>
    <nb-card-footer class="dialog-actions container justify-content-center row">
      <div class="col-md-5">
        <button
          type="button"
          class="dialog-button button-close"
          nbButton
          fullWidth
          outline
          status="primary"
          (click)="ref.close()"
        >
          OK
        </button>
      </div>
    </nb-card-footer>
  </nb-card>
</ng-template>
<!--end::Response Dialog-->
